.bold {
  font-weight: bold;
}
.calibre {
  display: block;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: justify;
}
.calibre1 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  text-align: center;
  text-indent: 0;
}
.calibre2 {
  font-size: 1.41667em;
  line-height: 1.2;
}
.calibre3 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
  text-indent: 0;
}
.calibre4 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  text-align: left;
  text-indent: 1em;
}
.calibre5 {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
.calibre6 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: left;
  text-indent: 1em;
}
.calibre7 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: left;
  text-indent: 1em;
}
.calibre8 {
  display: block;
  margin-bottom: 0;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0;
  text-indent: 1em;
}
.calibre9 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center;
  text-indent: 0;
}
.calibre10 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  text-indent: 0;
}
.calibre11 {
  font-size: 1em;
  line-height: 1.2;
}
.calibre12 {
  font-size: 1.17647em;
  line-height: 1.2;
}
.calibre13 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-indent: 1em;
}
.calibre14 {
  display: block;
  height: 1em;
}
.calibre15 {
  display: block;
  margin-bottom: 0;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0;
  text-indent: 0;
}
.calibre16 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: left;
  text-indent: 0;
}
.calibre17 {
  font-size: 0.75em;
}
.calibre18 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-indent: 0;
}
.calibre19 {
  display: block;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
}
.calibre20 {
  display: block;
}
.calibre21 {
  height: auto;
  width: auto;
}
.italic {
  font-style: italic;
}
.mbppagebreak {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
